<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adaeze.medicalchatbot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".doctor.AppointmentChat"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Request Appointment"></activity>
        <activity
            android:name=".user.HomePage"
            android:label="Medcare Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".doctor.DoctorProfile" />
        <activity android:name=".user.Meeting" />
        <activity
            android:name=".chatbot.Chatbot"
            android:label="Medcare" />
        <activity
            android:name=".user.MyProfile"
            android:label="My Profile" />
        <activity android:name=".LoginMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".doctor.DoctorMenu"
            android:label="Doctor Menu" />
        <activity
            android:name=".doctor.DoctorLogin"
            android:label="Secured User Login" />
        <activity
            android:name=".ResetPassword"
            android:label="Password Reset" />
        <activity
            android:name=".user.Register"
            android:label="User Registration" />
        <activity
            android:name=".user.UserLogin"
            android:label="Secured Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>